<div class="mobile-sort-wrapper">
    <DropdownSelectBox @label="筛选" @value={{this.currentValue}} @content={{this.dropdownContent}}
        @onChange={{this.onSelect}} class="mobile-sort-trigger" />
    <span class="mobile-sort-caret">
        <svg class="fa d-icon d-icon-caret-right svg-icon caret-icon svg-string" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#caret-right"></use>
        </svg>
        <svg class="fa d-icon d-icon-caret-down svg-icon caret-icon svg-string" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#caret-down"></use>
        </svg>
    </span>
</div>


